labs/lab01/ex2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="universityCourses" type="universityCourseType"/>
    <xs:element name="course" type="courseType"/>

    <xs:complexType name="universityCourseType">
        <xs:sequence>
            <xs:element name="course" type="courseType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="courseType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="professor" type="xs:string"/>

        </xs:sequence>
        <xs:attribute name="code" type="xs:string"/>
        <xs:attribute name="credits" type="xs:integer"/>
    </xs:complexType>
</xs:schema>
